.mat-stepper-vertical {
  margin-top: 8px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
.container {
    padding: 16px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mat-step {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.ag-theme-alpine, ag-grid-angular {
    flex: 1 1 auto;
    height: 100% !important;
    min-height: 70vh;
    width: 100%;
}

::ng-deep .required-error {
  background-color: #ffebee !important;
  color: #c62828 !important;
}