<div class="map-template">
  <h2 style="margin-bottom: 6px; text-align: center;">Map Fields to Excel Columns</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="map-template-form">
    <div class="mapping-scroll-area">
      <div class="mapping-row" *ngFor="let field of fields">
        <div class="field-label">
          <span>
            <ng-container *ngIf="field.required">
              <span style="color: #d32f2f; font-size: 0.95em; margin-right: 2px;" title="Required">*</span>
            </ng-container>
            {{ field.name }}
          </span>
        </div>
        <div class="excel-col">
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Excel Column</mat-label>
            <mat-select formControlName="{{field.name}}">
              <mat-option value="">-- None --</mat-option>
              <mat-option *ngFor="let col of colsFromExcel()" [value]="col">
                {{ col }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="mapping-footer">
      <button mat-raised-button color="primary" type="submit">Submit Mapping</button>
    </div>
  </form>
</div>